.terminal div{
  margin-bottom: 10px;
}

.terminal-output, .cmd{
  font-size: 10pt !important;
}

#content {
  width: 100%;
}

#editor {
  position: fixed;
  width: 66%;
  height: 92%;
  z-index: 2;
}

#stdio {
  position: fixed;
  height: 100%;
  width: 100%;
}

#result {
  width: 100%;
  z-index: 2;
  margin-top: 12px;
  margin-bottom: 15px;
}
