#content {
  width: 100%;
}

#editor {
  position: fixed;
  float: left;
  width: 100%;
  height: 60%;
  z-index: 2;
}

#result {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 37%;
  padding-top: 100px;
  z-index: 1;
}

.stdio {
  width: 100%;
  height: 100%;
  margin: auto;
}

div.stdin {
  width: 50%;
  height: 80%;
  float: left;
}

div.stdout {
  margin-left: 50%;
  width: 50%;
  height: 80%;
}

#streamingResult{
  width: 98%;
  height: 93%;
  background-color: #272822;
  color: #F8F8F2;
  font-size: 15px;
}

#inputField{
  width: 98%;
  height: 93%;
  background-color: #272822;
  color: #F8F8F2;
  font-size: 15px;
}
